<template>
  <div class="cart__block-container">
      <div class="cart__block">
        {{ cart }}
       </div>
       <router-link :to="{name: 'main'}">
          <div class="cart__link-close"></div>
       </router-link>
     
  </div>

</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'CartApp',
  computed:{
    ...mapGetters(['cart'])
  }
}
</script>

<style>
  .cart__block {
    position: fixed;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    overflow: hidden;
    transition: transform .3s ease, opacity .3s ease;
  }
  .cart__block-container {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.538);
    display: block;
    opacity: 1;
    transition: opacity .3s ease;
  }
  .cart__link-close {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .v-enter-active.cart__block-container {
     opacity: 0;
  }
  .v-enter-active .cart__block {
    transform: translateX(-100%);
    opacity: 0;
 
  }
  .v-leave-active .cart__block{
    transform: translateX(-100%);
  }
  .v-leave-active.cart__block-container{
    opacity: 0;
  }
 
</style>