<template>
<router-view class="view" v-slot="{ Component }">
  <transition >
    <component :is="Component" />
  </transition>
</router-view>
  <product-list />
</template>

<script>
import { mapActions } from 'vuex'
import ProductList from './ProductList.vue';

export default {
  name: 'MainApp',
  components: {
    ProductList,
  },
  mounted() {


    this.getProductActions()
  },
  methods: {
    ...mapActions(["getProductActions"])
  }


}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-enter-active {
  transition: all 0s ease;
}


</style>
