<template>
<div class="container">
    <ul class="product__list">
      <li v-for="product in products" :key="product.id">
        <div class="product__name">
          {{ product.name }}
        </div>
        <div class="product__photo">
          <img :src="`https://frontend-test.idaproject.com${product.photo}` " alt="">
        </div>
          <span class="product__price">
                {{ product.price }} руб.
          </span>
          <button @click="addToCartAction(product)" class="btn__add-cart">Добвить в корзину</button>
      </li>
   
    </ul>
       <button @click="getLoadMoreAction" class="btn">Загрузить еще</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "ProductList",
  mounted() {
    console.log(this.products);
  },
  computed: {
    ...mapGetters(["products"]),
  },
  methods: {
    ...mapActions(["getLoadMoreAction", "addToCartAction"])
  }
};
</script>

<style>
.product__name {
  font-size: 20px;
  font-weight: bold;
}
.product__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.product__list li {
  max-width: 300px;
  padding: 10px;
  border: 2px solid grey;
  margin-bottom: 10px;
  margin-right: 10px;
}
.product__photo img {
  max-width: 100%;
}
.product__photo {
  max-width: 300px;
  margin-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto ;
}
.product__price {
  display: block;
}
.btn {
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}
.btn__add-cart {
  cursor: pointer;

}

</style>
