<template>
  <router-link :to="{name: 'cart'}">
  <div class="cart-link">
     Посмотреть карзину {{ cartCalcQvyntity }}
  </div>
   
  </router-link>

  <router-view />
</template>

<script>
// import MainApp from './components/MainApp.vue'
import { mapGetters } from 'vuex';
export default {
  name: 'App',
  // components: {
  //   MainApp
  // }
  computed: {
    ...mapGetters(["cartCalcQvyntity"])
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 
}
body {
  padding: 0;
  margin: 0;
}
html {
  margin: 0;
  padding: 0;
}
.cart-link {
  position: fixed;
  right: 100px;
  top: 100px;
}
</style>
